body{
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    background-size: cover;
    background-size: cover;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.container{
    background-image: url("https://img.freepik.com/free-photo/smoky-watercolor-cloud-background_1409-1733.jpg");
    background-size: cover;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  20px, 20px rgba(255, 253, 253, 0.5);
    animation: lightSweep 20s infinite alternate; 
}
@keyframes lightSweep {
    0% { background-image: url("https://img.freepik.com/free-photo/smoky-watercolor-cloud-background_1409-1733.jpg")}
    25% { background-image:url("https://img.freepik.com/free-photo/green-field-with-sunny-day_1160-940.jpg?semt=ais_hybrid&w=740")}
    50% { background-image: url("https://img.freepik.com/free-vector/sunshine-background-poster_1284-9444.jpg?semt=ais_hybrid&w=740")} 
    75% { background-image:url("https://img.freepik.com/free-photo/blue-sky-with-clouds_1417-1556.jpg?semt=ais_hybrid&w=740")}
    100% { background-image:url("https://img.freepik.com/free-photo/dark-stormy-clouds_181624-61.jpg?semt=ais_hybrid&w=740")}
  }
h1{
    text-align: center;
    margin-bottom: 10px;
}
.search-input{
    width: 70%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    margin-right: 5px;
}
.search-button{
    width: 20%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
}
.search-button:hover{
    border: 2px solid white;
    cursor: pointer;
}


h2{
    font-size: 50px;
}

footer{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.weather-card{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
div .weather-temp{
    font-size: 100px;
}
div .weather-unit{
    font-size: 30px;
}
div .weather-icon{
    font-size: 50px;
}
main div p strong{
    color: red
}
main div p #date-element strong{
    color: red
}

